body{
	background-color: #000000;
	margin: 0;
}
header{
	background-color: RGB(105, 115, 121);
	color: #ffffff;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
}
h1{
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	margin: 0;
	text-shadow: 1px 1px #000000;
}
h2{
	font-family: 'Arimo', sans-serif;
	margin: 0;
	padding: 0.5em 0;
	text-shadow: 1px 1px #000000;
}
#squareContainer{
	margin: 1em auto;
	max-width: 600px;
}
.square{
	width: 30%;
	margin: 1.6%;
	padding-top: 30%;
	float:left;
	border-radius: 50px;
	transition: background 0.4s;
}
#bar{
	background-color: #ffffff;
	align-items: center;
}
#setting{
	max-width: 600px;
	height: 2.2em;
	color: RGB(67, 178, 245);
	display: flex;
	justify-content:center; 
	margin: 0 auto;
}
#setting span{
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	margin: 10;
	display: flex;              
	justify-content: center;     
	align-items: center; 
	transition: all 0.3s;
}
.selected, #reset:hover, .mode:hover{
	background-color: RGB(105, 115, 121);
	color: #ffffff;
	cursor: pointer;
}
#message{
	color: #000000;
	font-size: 1em;
	flex-grow: 2;
}